

body {
  font-family: "Arial", Helvetica, Sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button {
  height: 37px;
  width: 100px;
  background: #e8491d;
  color: #ffffff;
  padding: 0 20px;
  border: 0; 
 }

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;s
  margin: 10px 0;
}

/*========================
  Header
 =========================*/
 header {
  background: #35424a;
  color: #ffffff;
  padding-top: 15px;
  min-height: 70px;
  border-bottom: #e8491d 4px solid;
 }

 header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
 }

header li {
  float: left;
  display: inline;
  padding: 0 20px;
}

header h1 {
  margin: 0; 
}

header nav {
  float: right;
  margin-top: 15px;
}

#branding {
  float: left;
}

.highlight, .current {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  font-weight: bold;
  color: #cccccc;
}



/*========================
  Showcase
 =========================*/
 #showcase {
  min-height: 400px;
  background: url(../img/showcase.jpg) no-repeat 0 -400px;
  color: #ffffff;
  text-align: center;
 }

 #showcase h1 {
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 10px;
 }

 #showcase p {
  font-size: 20px;
 }



 /*========================
  Newsletter
 =========================*/
 #newsletter {
  background: #35424a;
  color: #ffffff;
  padding: 15px;
 }

 #newsletter h3 {
  float: left;
  font-size: 25px;
 }

 #newsletter form {
  float: right;
  margin-top: 25px;
 }

 .email {
  padding: 4px;
  height: 25px;
  width: 250px;
 }

 
 
  /*========================
  Services
 =========================*/
 #boxes {
   padding-top: 20px; 
 }

 .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
 }

 .box img {
  width: 90px;
 }



  /*========================
  About Us Page
 =========================*/
#main-col {
  float: left;
  width: 65%;
}

#sidebar {
  float: right;
  width: 30%;
 margin-top: 25px;
}



/*=========================
  Services Page
 =========================*/
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6; 
}

.quote input, .quote textarea {
  width: 90%;
  padding: 5px;
}


/*=========================
  Footer
 =========================*/
 footer {
  text-align: center;
  background: #e8491d;
  color: #ffffff; 
  padding: 20px;
  margin-top: 20px;
 }



/*=========================
  Media
 =========================*/
 @media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form .email, .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
